.randomquestion {
  padding: 50px;
  display: flex;
  width: 300px;
  flex-direction: column;
  border-radius: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  align-items: center;
  border: 1px solid #def2f1;
  margin-bottom: 100px;
}

.randomquestion-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dots-random {
  display: flex;
  width: 40%;
  gap: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: 1px solid rgb(200, 200, 200);
  flex-wrap: wrap;
  justify-content: center;
}

.category-q-random {
  font-weight: bold;
  margin-left: 5px;
  font-size: 14px;
  color: #2b7a78;
  margin-top: 10px;
}

.dice-text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 10px;
}
