.easy {
  background-color: #89be7d;
  padding: 1px;
  width: 55px;
  border: 1px solid #7aa570;
  display: flex;
  justify-content: center;
  color: white;
  font-size: 12px;
}

.hard {
  background-color: #f47c7c;
  padding: 1px;
  width: 55px;
  border: 1px solid #a65d5d;
  display: flex;
  justify-content: center;
  color: white;
  font-size: 12px;
}

.medium {
  background-color: #f7f48b;
  padding: 1px;
  width: 65px;
  border: 1px solid #c4c16e;
  display: flex;
  justify-content: center;
  color: rgb(74, 74, 74);
  font-size: 12px;
}

.white {
  background-color: white;
}

.user-info {
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  display: flex;
}

.text-question {
  font-family: "Zilla Slab", serif;
  font-size: 18px;
  font-style: italic;
  margin: 20px;
}
.user-info-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px;
}

.imagequestion {
  border-radius: 100px;
  width: 60px;
}

.category-info {
  display: flex;
  flex-direction: row;
  margin-top: 10px;

  flex-wrap: wrap;
  align-items: flex-start;
}

.category-q {
  font-weight: bold;
  margin-left: 5px;
  font-size: 14px;
  color: #2b7a78;
  display: flex;
  flex-direction: row;
}

.category-q-cont {
  font-size: 14px;

  padding-left: 5px;
  color: rgb(117, 117, 117);
}

.all-list-category-box {
}

.container-questions-list {
  display: flex;
  flex-direction: column;
  padding: 40px;
  border: 1px solid #def2f1;
  width: 300px;
  margin: 10px;
  border-radius: 10px;
  flex: 1;
}

.seetheanswer {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  color: rgb(117, 117, 117);
  font-size: 14px;
}

.created {
  font-size: 14px;
  color: rgb(117, 117, 117);
}

.created-text {
  font-size: 14px;
  font-weight: bold;
  color: #2b7a78;
  margin-right: 5px;
}

.buttons-question {
  display: flex;

  top: 20px;
  left: 800px;
  align-items: center;
}

.category-difficulty {
  font-size: 14px;
  margin-left: 10px;
  padding-right: 10px;
  color: #2b7a78;
  font-weight: bold;
}

.box {
  display: flex;
  margin: 5px;
  padding: 5px;
  align-items: flex-end;
}

.questions-data {
  padding: 60px;
  position: relative;
  border-radius: 10px;
  background-color: #def2f1;
  margin: 30px;
}

.noresult {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.current-category-text {
  font-weight: bold;
}

.category-itself-text {
  background-color: #def2f1;
  border-radius: 20px;
  padding: 10px;
}
