@import "../app/question/question.css";
@import "./api/../../components/Comments/comments.css";
@import "./profile/profile.css";
@import "./../components/Questionsform/questionsform.css";
@import "../components/SignInPage/sign-in-page.css";
@import "./../components/RecentlyAdded/recentlyadded.css";
@import "./../components/Randomquestion/randomquestion.css";
@import "./create/create.css";

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
  position: fixed;
  width: 100%;
  background-color: #feffff;
  bottom: 0;
  margin-bottom: 0;
  background-color: #f9f9f9;
  padding-bottom: 10px;
  padding-top: 10px;
}

a {
  text-decoration: none;
}

.nav-icons-text {
  display: flex;
  text-decoration: none;
  flex-direction: column;
  align-items: center;
  color: rgb(117, 117, 117);
  font-size: 14px;
}

.navbuttons {
  font-size: 12px;
  display: flex;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-size: 16px;
  top: 0;
  padding: 25px;
  margin-top: 0;
  margin-bottom: 30px;
  box-shadow: 0 10px 10px -5px #e6f5f5;
}

.intro {
  font-size: 25px;
  font-weight: bold;
  max-width: 60rem;
}

.introtext {
  font-size: 16px;
  max-width: 60rem;
  color: #3aafa9;
  padding-bottom: 20px;
}

.container {
  margin-bottom: 100px;
}

.intro-homepage {
  border: 1px solid #def2f1;
  padding: 30px;
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 10px;
  width: 300px;
}

.intro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-recently-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  border: 1px solid #def2f1;
  width: 55%;
  border-radius: 10px;
}

input {
  font-family: "Zilla Slab", serif;
  font-style: italic;
  font-size: 18px;
  margin-top: 20px;
  border-radius: 40px;
  padding: 12px 70px;
  background-image: url("../images/icons/magnifying-glass-solid.svg");

  background-position: 15px 14px;
  background-repeat: no-repeat;
  background-size: 20px;
  border: 1px solid #def2f1;
}

.search-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.showmore {
  font-family: "Zilla Slab", serif;
  font-style: italic;
  flex-direction: column;
  font-size: 16px;
  color: rgb(77, 77, 77);
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  gap: 5px;
}

.container-questions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons {
  border: none;
  font-size: 16px;
  background-color: #2b7a78;
  padding: 10px;
  color: #feffff;
  border-radius: 10px;
  cursor: pointer;
  margin: 5px;
  margin-top: 15px;
}

.dots {
  display: flex;
  width: 100%;
  gap: 5px;
  align-self: center;
  margin-top: 20px;
  margin-bottom: 10px;
  border-top: 1px solid rgb(200, 200, 200);
  flex-wrap: wrap;
}

.container-category {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  background-color: #def2f1;
  padding: 15px;
  font-size: 12px;
  cursor: pointer;
}

.questions-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.icons {
  border: none;
  cursor: pointer;
  display: flex;
  align-items: flex-end;
  background-color: transparent;
}

.icons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #2b7a78;
}

.styling-text-h1 {
  color: #3aafa9;
  font-size: 24px;
  font-weight: bold;
  font-family: "Zilla Slab", serif;
  display: flex;
  justify-content: center;
}
