.comment-icons {
  display: flex;
  gap: 5px;
}

.comment-longin {
  padding-top: 30px;
  padding-bottom: 150px;
  font-size: 16px;
  cursor: pointer;
}

.first-comment {
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment-text {
  margin: 30px;
}

.comments-container {
  margin-top: 20px;
  width: 65vw;
}

.comments-container-content {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.number-likes {
  margin-left: 5px;
  display: flex;
}

.rating-star {
  cursor: pointer;
}

.imagecomment {
  border-radius: 100px;
  width: 40px;
}

.comment-form {
  margin-bottom: 100px;
  margin-top: 20px;
  flex-direction: column;
  display: flex;
}

.comment-section {
  font-family: "Lora", serif;
  font-style: italic;
  font-size: 18px;
  padding: 40px 70px;
  border: 1px solid #def2f1;
  border-radius: 10px;
}

.author {
  margin-left: 10px;
  font-size: 12px;
}

.comment-profile-info {
  margin-bottom: 20px;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  display: flex;
}

.add-comment {
  font-size: 12px;
  margin-left: 10px;
  color: #2b7a78;
  display: flex;
  justify-content: flex-end;
}

.p-comment {
  display: flex;
  flex-direction: column;
}

.edit-textarea {
  font-family: "Lora", serif;
  font-style: italic;
  font-size: 16px;
  padding: 50px 30px;
  border: 1px solid #def2f1;
  border-radius: 10px;
}
